body {
  width: 823px;
}

/* Navbar */
#navbar ul li a:focus {
  font-size: 3rem;
}

#navbar ul li a:hover {
  font-size: 3rem;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Background */
.background {
  width: 823px;
}

.background-left {
  height: 400px;
  background: #e6dace;
}

.background-left {
  width: 441px;
  background: #e6dace;
  height: 800px;
  position: relative;
}

.bg-right-container {
  left: 225px;
}

.profile-container {
  left: 165px;
}

/* Projects */
#projects {
  width: unset;
}

/* Footer */
.follow {
  width: 823px;
}

.follow {
  width: 823px;
}

a#about {
  display: block;
}
