#navbar ul li a:hover {
  font-size: 3rem;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: max-content;
}

.background {
  width: 1020px;
}

.background-left {
  width: 711px;
}

.profile-container {
  left: 411px;
}